.cartRow {
    display: flex;
}

.cartQuantity {
    width: 10px;
    height: 22px;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #101e26;
}

.cartIcon {
    margin-right: 12px;
}

.checkoutSection {
    display: flex;
    float: right;
    margin-right: 114px;
}
